body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  background-color: #8fc2ee;
  color: #fff;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#output {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #FBB810;
  border: 0.3rem solid #fff;
  display: none; /* Hide the speech output box by default */
}

#toggleButton {
  font-size: 2rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  background-color: #09bbdf;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#toggleButton:hover {
  background-color: #0062cc;
}

#toggleButton.recording {
  background-color: #dc3545;
}

#toggleButton.recording:hover {
  background-color: #c82333;
}
